<p>bookdetails works!</p>

<div class="container mt-5">
  <div class="row">
      <div class="col-md-12">

          <!---will create button with ternary operator and click function--->
          <button (click)="onclick()" type="button" class="btn  btn-danger">
            {{ReadMore?"Read More":"Read Less"}}
          </button>

          <!--will create if condition my default it will
            b hide on click it will toggle--->
          <ng-container *ngIf="visible">
              <div class="bg-white shadow-sm p-3">
                  <h4>Hello World</h4>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                      Esse tempore aut molestiae, unde non soluta! A, nesciunt. 
                      Earum facere totam error, nam placeat, quia, veritatis aspernatur
                      voluptate vitae fugit odit.
                  </p>
              </div>
          </ng-container>
      </div>
  </div>
</div>




<div *ngIf="readerSearchdiv;else reader_search">
  Buy Book
  <div class="form-group">
    <button type="button" class="btn btn-secondary" (click)="SearchAuthorByReader()">Buy</button>
  </div> <!-- form-group// -->


</div>
<div *ngIf="readerGridDiv;else reader_Booksgrid">
Book Details

<div class="form-group">
  <button type="button" class="btn btn-secondary" (click)="dirSearchBooks()">Details</button>
</div>

</div>
<div *ngIf="readerBookBuyDiv;else reader_BooksBuy">
Book Payment

<div class="form-group">
  <button type="button" class="btn btn-secondary" (click)="viewBook()">Payment</button>
</div>

</div>

<div *ngIf="myOrderdiv;else myorder_content">   
  Book By

  <div class="form-group">
    <button type="button" class="btn btn-secondary" (click)="searchBook()">Search</button>
  </div>

</div>


<ng-template #reader_search>

</ng-template>

<ng-template #reader_Booksgrid>

</ng-template>

<ng-template #reader_BooksBuy>

</ng-template>

<ng-template #myorder_content>
   
</ng-template>